*
{
	font-size: 12px;
	font-family: 'Comic Sans MS', Verdana, Arial, Helvetica, sans-serif;
}
H1
{
	font-weight: bold;
	font-size: larger;
}

/*
     FILE ARCHIVED ON 17:06:51 Feb 02, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:38:03 Jun 10, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 1.219
  captures_list: 0.386
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.026
  esindex: 0.007
  cdx.remote: 22.486
  LoadShardBlock: 150.057 (3)
  PetaboxLoader3.resolve: 138.046 (4)
  PetaboxLoader3.datanode: 56.423 (4)
  load_resource: 81.018
*/